@import url("../styles.css");

.container-form {
  background-color: rgb(182, 181, 181);
}

form {
  margin: 0 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.text-form {
  font-size: 1rem;
}

.input-field {
  margin: 1rem 0 1rem 0;
}

input::placeholder {
  color: rgb(197, 197, 197);
  font-size: 0.8rem;
  font-family: inherit;
}

button {
  padding: 0.5rem 1rem;
  font-family: inherit;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, 0.5px 0.5px 0 black,
    0.5px 0.5px 0 black;
  border: 0.1rem solid grey;
}

.submit-button {
  background-color: rgb(15, 193, 247);
}

.reset-button {
  background-color: grey;
}
